@import url(main.css);
.completed > p {
  text-decoration: line-through;
}

.container {
  background: var(--background-color-2);
  color: var(--color-1);
  min-height: 100vh;
  position: relative;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--background-color-2);
  padding: 70px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container {
  position: relative;
  margin: 70px 15px 100px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--background-color-1);
  border-radius: 10px;
  padding: 25px 50px;
  width: 100%;
  max-width: 500px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(230, 95, 120, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(230, 95, 120, 0.2);
}
.todo-container__description {
  color: var(--color-3);
  font-size: 25px;
  margin-bottom: 25px;
}
.todo-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  gap: 5px;
}
.todo-container__input {
  background: var(--background-color-2);
  padding: 5px 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: 40px;
}
.todo-container__submit {
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid var(--color-3);
}

.todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  min-width: 100%;
}
.todo-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: var(--background-color-2);
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
}
.todo-list__item--delete {
  margin-left: auto;
  color: var(--color-2);
  font-size: 13px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color-1);
}